@model List<BookViewModel>

@{
    ViewData["Title"] = "All Books";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BookViewModel book in Model) {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>
                    <a class="nav-link" asp-controller="Book" asp-action="Edit" asp-route-bookId=@book.Id>Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>