html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #e1dfdd;
}

.custom-navbar {
    background-color: white; /* yellowish */
}

.custom-navbar .nav-link {
    color: #000 !important; /* black text */
}

.custom-navbar .nav-link:hover {
    color: #333 !important; /* slightly darker on hover */
}

.custom-navbar .navbar-brand {
    color: #000 !important; /* black brand text */
}